body {
    font-family: "Manrope", sans-serif;
}

* {
    /* border: 1px solid red; */
}

.fa-magnifying-glass {
    font-size: 22px;
}

.fa-arrow-right {
    color: white;
    padding-bottom: 5px;
}

.fa-bars {
    font-size: 26px;
}

.dot-menu {
    display: none;
}

.form {
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
}

/* .portfolio-row-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
} */
.footer-nav {
    li {
        padding: 10px 30px;
    }

    a {
        color: aliceblue;
    }
}

.footer-nav li a:hover {
    color: #ABEF5F;
}

.commercial {
    background-image: url("./assets/Vector.png");
    background-repeat: no-repeat;

}

/* responsibe */
@media (max-width: 640px) {
    .nav {
        display: none;
    }

    #nav-right {
        display: none;
    }

    .footer-nav li {
        padding: 10px 10px;
    }


    .dot-menu {
        display: block;
    }
}